@import "./reset.scss";
@import "./variables.scss";

body{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

// .container{
//     max-width: $boundingContainer;
// }

.container{
    max-width: 1410px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 863px;
    .nav_bar{
        height: 144px;
        .top_nav_bar{
            height: 59px;
            background-color: $themeColor_3;
                .top_nav_bar_items{
                    display: flex;
                    justify-content: space-between;
                    padding-top: 23px;
                    .address_and_phone{
                        display: flex;
                        justify-content: space-between;
                        width: 739px;
                        color: $typograrphyColor_2;
                        font-size: 14px;
                        font-weight: 400;
                        & li{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        & li:first-child{   
                            padding-left: 20px;
                        }
                        & li:first-child::before{
                            content: "";
                            background-image: url("./images/email_white.svg");
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                        }
                        & li:nth-child(2)::before{
                            content: "";
                            background-image: url("./images/phone.svg");
                            background-repeat: no-repeat;
                            height: 25px;
                            width: 25px;
                            margin-right: 10px;
                        }
                        & li:last-child::before{
                            content: "";
                            background-image: url("./images/location.svg");
                            background-repeat: no-repeat;
                            height: 25px;
                            width: 25px;
                            margin-right: 10px;
                        }
                    }
                    .language{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 30px;
                        color: $typograrphyColor_2;
                        font-size: 14px;
                        font-weight: 400;
                        &::after{
                            content: "";
                            background-image: url("./images/arrow_down_white.svg");
                            background-repeat: no-repeat;
                            width: 18px;
                            height: 18px;
                            margin-left: 3px;
                        }
                        
                    }
                }
        }
        .bottom_nav_bar{
            height: 85px;
            &_items{
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                .nav_logo{
                    margin-left: 20px;
                }
            }
            &_menu{
                display: flex;
                align-items: center;
            }
            &_menu li{
                margin-right: 61px;
            }
            &_menu li a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $typograrphyColor_1;
                font-weight: 700;
                font-size: 16px;
            }
            &_menu li a:hover{
                color: $themeColor_1;
            }
            &_menu li a:hover::after{
                content: "";
                background-image: url("./images/arrow_down_green.svg");
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                margin-left: 5px;
                margin-top: 4px;
            }
            &_menu li a::after{
                content: "";
                background-image: url("./images/arrow_down_black.svg");
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                margin-left: 5px;
            }
        }
    }
    
}

