// Colors

// Theme colors

$themeColor_1: #00730C;
$themeColor_2: #0B0B0B;
$themeColor_3: #0C4B35;

// Cards & Backgrounds Colors

$cardsAndBackgroundsColors_1: #E3E3E3;
$cardsAndBackgroundsColors_2: #FFFFFF;
$cardsAndBackgroundsColors_3: #242424;
$cardsAndBackgroundsColors_4: #F0F0F0;
$cardsAndBackgroundsColors_5: #D9F1DF;
$cardsAndBackgroundsColors_6: #FBEEE7;
$cardsAndBackgroundsColors_7: #00730C;
$cardsAndBackgroundsColors_8: #FBF6EE;
$cardsAndBackgroundsColors_9: #F6F6F6;

// Typograrphy Colors

$typograrphyColor_1: #212529;
$typograrphyColor_2: #FFFFFF;
$typograrphyColor_3: #676767;

// Icons Colors

$iconsColor: #375490;
$iconsColor: #009FEE;
$iconsColor: #367CFF;
$iconsColor: #0079B2;
$iconsColor: #FFFFFF;
$iconsColor: #EF1408;

$boundingContainer: 1410px;